# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
virtualenv/
env/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/

# Other
.DS_Store

# Local config files
tasak.yaml
gok.json
